.one{
    margin: 2px;
    padding: 15px;
    border:2px solid black;
}

#two{
    font-size: 55px;
    
}
#three{
    color: aqua;
    font-size: 60px;
}

#fr{
    font-size: 30px;
}
span{
    color: rgb(218, 28, 28);
}
body{
    border: 2px solid rgb(56, 58, 58);
    border-radius: 10000px;
}
    